<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.library.repository.BookRepository" id="bookRepository">
        <property name="bookTitle" value="The Great Novel by Aditya Doliya 6391609"/>
    </bean>

    <bean class="com.library.service.BookService" id="bookService">
        <property name="bookRepository" ref="bookRepository"/>
        <constructor-arg value="McGraw-Hill Education" />
    </bean>
</beans>